---
export const prerender = true;
import Banner from "../../components/Cobertura/banner.astro";
import Chooseme from "../../components/Cobertura/chooseme.astro";
import Description from "../../components/Cobertura/description.astro";
import Layout from "../../layouts/Layout.astro";
import PlansPrice from "../../components/Cobertura/plansPrice.astro";
import type { MarkdownInstance } from "astro";

export async function getStaticPaths() {
   const ciudades = [
      {
         nombre: "playa-del-carmen",
      },
      { nombre: "tulum" },
      {
         nombre: "puerto-morelos",
      },
   ];
   return ciudades.map((zona) => ({
      params: { zona: zona.nombre },
      props: { ...zona },
   }));
}

const { zona } = Astro.params; // viene de la URL

const posts = Object.values(
   import.meta.glob<MarkdownInstance<Record<string, any>>>(
      "../../content/*.md",
      { eager: true },
   ),
);

const post = posts.find((p) => p.file.endsWith(`${zona}.md`));
if (!post) {
   return Astro.redirect("/404");
}

const { frontmatter } = post;
---

<Layout title={frontmatter.title}>
   <div class={`${frontmatter.color} relative overflow-hidden`}>
      <div>
         <Banner zona={frontmatter.bannerImage} />
         <div class="bg-line w-full p-1.5"></div>
         <Description info={frontmatter.info} />
         <PlansPrice zona={frontmatter.claveName} />
         <Chooseme zona={frontmatter.claveName} />
      </div>

      <img
         src="/images/fondo-enlaces.webp"
         alt="Figura Enlaces"
         class="w-[200hv] absolute top-[25%] lg:-left-80"
      />

      <img
         src="/images/fondo-enlaces.webp"
         alt="Figura Enlaces"
         class="w-[1300px] absolute bottom-[40%] lg:-bottom-80 -right-22 lg:-right-90"
      />
      <!-- Person plans -->
      <img
         src=`${frontmatter.personPlans.image}`
         alt="Figura Enlaces"
         class=`absolute bottom-0 right-0 hidden xl:block`
      />
      <!-- Image fibra -->
      <img
         src=`/images/cable-de-fibra-optica-left.webp`
         alt="Figura Enlaces"
         class=`absolute top-[60%] left-0 hidden xl:block`
      />

      <img
         src=`/images/antena-enlaces.webp`
         alt="Figura Enlaces"
         class=`absolute w-72 top-[85rem] rotate-40 right-0 hidden xl:block`
      />

      <!-- <img
         src="/images/fondo-enlaces.webp"
         alt="Figura Enlaces"
         class="w-7xl absolute -bottom-20 -left-22 visible md:invisible"
      /> -->
   </div>
</Layout>
