---
const cardData = {
  "playa-del-carmen": {
    titleZone: "PLAYA DEL CARMEN",
    titleColor: "[#00DEE9]",
    icons: [
      "/images/velocidad-blanco.png",
      "/images/soporte-blanco.png",
      "/images/atencion-blanco.png",
      "/images/internet-blanco.png",
      "/images/implementation-blanco.png",
      "/images/list-blanco.png",
      "/images/pay-blanco.png",
    ],
    pcolor: "light",
    colorShape: "from-golden1 to-golden3",
  },
  tulum: {
    titleZone: "TULUM",
    titleColor: "primary",
    icons: [
      "/images/velocidad-enlaces.png",
      "/images/soporte-enlaces.png",
      "/images/atencion-enlaces.png",
      "/images/internet-enlaces.png",
      "/images/implementation-enlaces.png",
      "/images/list-enlaces.png",
      "/images/pay-enlaces.png",
    ],
    pcolor: "primary",
    colorShape: "from-golden1 to-golden3",
  },
  bacalar: {
    titleZone: "BACALAR",
    titleColor: "primary",
    icons: [
      "/images/velocidad-enlaces.png",
      "/images/soporte-enlaces.png",
      "/images/atencion-enlaces.png",
      "/images/internet-enlaces.png",
      "/images/implementation-enlaces.png",
      "/images/list-enlaces.png",
      "/images/pay-enlaces.png",
    ],
    pcolor: "primary",
    colorShape: "from-golden1 to-golden3",
  },
  "puerto-morelos": {
    titleZone: "PUERTO MORELOS",
    titleColor: "primary",
    icons: [
      "/images/velocidad-enlaces.png",
      "/images/soporte-enlaces.png",
      "/images/atencion-enlaces.png",
      "/images/internet-enlaces.png",
      "/images/implementation-enlaces.png",
      "/images/list-enlaces.png",
      "/images/pay-enlaces.png",
    ],
    pcolor: "primary",
    colorShape: "from-[#27DAE5] to-[#45D1CC]",
  },
};

const cardTexts = [
  {
    title: "Internet",
    text: "Navega sin preocuparte por el consumo de datos.",
  },
  {
    title: "Soporte Técnico",
    text: "Tiempos de respuesta rápidos, de entre 2 y 8 horas para resolver incidencias. (las visitas técnicas se agendan según disponibilidad).",
  },
  {
    title: "Guardias Fin de Semana",
    text: "Soporte remoto los fines de semana y atención al cliente de lunes a viernes de <strong>8:00 a.m. a 10:00 p.m.</strong>",
  },
  {
    title: "Conexión Estable",
    text: "Ofrecemos conexión sin interrupciones con nuestras opciones de<strong> fibra o WISP.</strong>",
  },
  {
    title: "Fácil Instalación",
    text: "Rápida y sin complicaciones, para que disfrutes de internet lo antes posible.",
  },
  {
    title: "Planes Flexibles",
    text: "Adaptados a tus necesidades, con opciones para hogares y pequeñas empresas.",
  },
  {
    title: "Pagos Simples y Rápidos",
    text: "Realiza el pago de tus mensualidades de manera fácil y segura a través de la plataforma Toku, con activación al instante.",
  },
];

const { zona } = Astro.props as { zona: keyof typeof cardData };
const data = cardData[zona];
---

<section class="py-20 text-center px-4 overflow-hidden">
  <div class="mb-10 -rotate-3 relative">
    <div class="py-5 pb-16 lg:pb-23">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center">
        ¿Por qué elegirnos en <br />
        <span
          class={`text-4xl md:5xl lg:text-7xl text-${data.titleColor} text-shadow-lg/30 text-shadow-${data.titleColor} absolute right-2 md:right-[10%] lg:right-[25%]`}
          >{data.titleZone}?</span
        >
      </h1>
      <div class="absolute right-[10%] lg:right-[30%] bottom-0 flex gap-1">
        <div class={`h-3 w-3 bg-linear-to-r ${data.colorShape} rounded-full`}>
        </div>
        <div
          class={`h-3 w-40 md:w-55 bg-linear-to-r ${data.colorShape} rounded-full `}
        >
        </div>
      </div>
      <div class="absolute top-0 left-[8%] lg:left-[35%] flex gap-1">
        <div class={`h-3 w-3 bg-linear-to-r ${data.colorShape} rounded-full`}>
        </div>
        <div
          class={`h-3 w-40 md:w-55 bg-linear-to-r ${data.colorShape} rounded-full`}
        >
        </div>
      </div>
    </div>
  </div>

  <div class="swiper chooseme-swiper relative w-full max-w-[1200px] h-[520px]">
    <div class="swiper-wrapper">
      {
        cardTexts.map((card, index) => (
          <div class="swiper-slide">
            <div class="bg-white/30 backdrop-blur-sm  rounded-3xl p-10 h-full flex flex-col  min-h-[580px] max-w-sm w-full">
              <img
                src={data.icons[index]}
                alt="icono"
                class="w-40 h-40 mb-4 mx-auto"
              />
              <div class="text-center m-5">
                <h2 class={`text-${data.pcolor} text-4xl font-bold mb-3`}>
                  {card.title}
                </h2>
                <p
                  class={`text-${data.pcolor} text-2xl`}
                  set:html={card.text}
                />
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination mt-6"></div>
    <div class="swiper-button-prev !text-white"></div>
    <div class="swiper-button-next !text-white"></div>
  </div>
</section>
<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  const swiper = new Swiper(".chooseme-swiper", {
    modules: [Navigation, Pagination],
    grabCursor: true,
    loop: true,
    centeredSlides: false,
    spaceBetween: 20,
    autoHeight: true,
    breakpoints: {
      0: { slidesPerView: 1 },
      768: { slidesPerView: 2 },
      1024: { slidesPerView: 3 },
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<style>
  .chooseme-swiper .swiper-slide {
    display: flex !important; /* Flex para alinear cards */
  }

  .chooseme-swiper .swiper-button-prev,
  .chooseme-swiper .swiper-button-next {
    color: white; /* Color de flechas */
    --swiper-navigation-size: 50px; /* Tamaño */
  }
</style>
