---
const cardData = {
   "playa-del-carmen": {
      titleZone: "PLAYA DEL CARMEN",
      titleColor: "[#00DEE9]",
      pcolor: "light",
      colorShape: "from-golden1 to-golden3",
   },
   tulum: {
      titleZone: "TULUM",
      titleColor: "primary",
      pcolor: "primary",
      colorShape: "from-golden1 to-golden3",
   },
   "puerto-morelos": {
      titleZone: "PUERTO MORELOS",
      titleColor: "primary",
      pcolor: "primary",
      colorShape: "from-[#27DAE5] to-[#45D1CC]",
   },
};

const cardTexts = [
   {
      title: "Internet",
      text: "Navega sin preocuparte por el consumo de datos.",
   },
   {
      title: "Soporte Técnico",
      text: "Tiempos de respuesta rápidos, de entre 2 y 8 horas para resolver incidencias. (las visitas técnicas se agendan según disponibilidad).",
   },
   {
      title: "Guardias Fin de Semana",
      text: "Soporte remoto los fines de semana y atención al cliente de lunes a viernes de <strong>8:00 a.m. a 10:00 p.m.</strong>",
   },
   {
      title: "Conexión Estable",
      text: "Ofrecemos conexión sin interrupciones con nuestras opciones de<strong> fibra o WISP.</strong>",
   },
   {
      title: "Fácil Instalación",
      text: "Rápida y sin complicaciones, para que disfrutes de internet lo antes posible.",
   },
   {
      title: "Planes Flexibles",
      text: "Adaptados a tus necesidades, con opciones para hogares y pequeñas empresas.",
   },
   {
      title: "Pagos Simples y Rápidos",
      text: "Realiza el pago de tus mensualidades de manera fácil y segura a través de la plataforma Toku, con activación al instante.",
   },
];

const icons = [
   "/images/chooseme/chooseme-velocidad.webp",
   "/images/chooseme/chooseme-soporte.webp",
   "/images/chooseme/chooseme-atencion.webp",
   "/images/chooseme/chooseme-internet.webp",
   "/images/chooseme/chooseme-implementacion.webp",
   "/images/chooseme/chooseme-lista.webp",
   "/images/chooseme/chooseme-pago.webp",
];

const { zona } = Astro.props as { zona: keyof typeof cardData };
const data = cardData[zona];
---

<section class="py-20 text-center px-4 overflow-hidden">
   <div class="mb-10 -rotate-3 relative">
      <div class="py-5 pb-16 lg:pb-23">
         <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center">
            ¿Por qué elegirnos en <br />
            <span
               class={`text-4xl md:5xl lg:text-7xl text-${data.titleColor} text-shadow-lg/30 text-shadow-${data.titleColor} absolute right-2 md:right-[10%] lg:right-[25%]`}
               >{data.titleZone}?</span
            >
         </h1>
      </div>
   </div>

   <div class="swiper chooseme-swiper relative w-full max-w-[1200px] h-[520px]">
      <div class="swiper-wrapper">
         {
            cardTexts.map((card, index) => (
               <div class="swiper-slide">
                  <div class="bg-white  rounded-3xl p-10 h-full flex flex-col  min-h-[580px] max-w-sm w-full">
                     <img
                        src={icons[index]}
                        alt="icono"
                        class="w-40 h-40 mb-4 mx-auto"
                     />
                     <div class="text-center m-5">
                        <h2 class={`text-primary text-4xl font-bold mb-3`}>
                           {card.title}
                        </h2>
                        <p
                           class={`text-primary text-2xl`}
                           set:html={card.text}
                        />
                     </div>
                  </div>
               </div>
            ))
         }
      </div>

      <div class="swiper-pagination mt-6"></div>
      <div class="swiper-button-prev !text-black"></div>
      <div class="swiper-button-next !text-black"></div>
   </div>
</section>
<script>
   import Swiper from "swiper";
   import { Navigation, Pagination } from "swiper/modules";
   import "swiper/css";
   import "swiper/css/navigation";
   import "swiper/css/pagination";

   const swiper = new Swiper(".chooseme-swiper", {
      modules: [Navigation, Pagination],
      grabCursor: true,
      loop: true,
      centeredSlides: false,
      spaceBetween: 20,
      autoHeight: true,
      breakpoints: {
         0: { slidesPerView: 1 },
         768: { slidesPerView: 2 },
         1024: { slidesPerView: 3 },
      },
      pagination: {
         el: ".swiper-pagination",
         clickable: true,
         dynamicBullets: true,
      },
      navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
      },
   });
</script>
<style>
   .chooseme-swiper .swiper-slide {
      display: flex !important; /* Flex para alinear cards */
   }

   .chooseme-swiper .swiper-button-prev,
   .chooseme-swiper .swiper-button-next {
      --swiper-navigation-size: 50px; /* Tamaño */
   }
</style>
